{% extends "base.twig" %}

{% set title = post.title %}
{% set thumbnail = post.thumbnail %}

{% block content %}

<article class="project-single post-type-{{post.post_type}}" id="post-{{post.ID}}">

  {# <header class="project-single__header" data-scroll-section>
    <h1>{{ title }}</h1>
  </header> #}

  <div class="single single-{{ post.post_type }}" id="page-{{ post.ID }}">
    {% include 'page-builder/index.twig' with { 'post': post } only %}
  </div>

</article>

{% endblock %}
